
<img src="/images/lib.jpg" alt="">

<div class="Title">
    <h1>MANAGEMENT++</h1>
</div>

<form action="/" method="post">
    <div class="wrapper">
        <input type="text" class="logbox" id="username-field" name="username" placeholder="Username..."/>
    </div>
    <div class="wrapper">
        <input type="password" class="logbox" id="password-field" name="password" placeholder="Password..."/>
    </div>
    <div class="wrapper">
        <button type="submit">Log in</button>
        <button type="submit">Register</button>
    </div>
</form>