<img src="/images/lib.jpg" alt="">
    

     <div class="topnav">

        <div class="topnav-centered">
            <form action="/log" method="post">
            <button type="text" id="home">Home</button>
            </form>

        </div>


    </div>

<div class="Title">
    <h1>Registration</h1>
</div>

<form id ='login' action="/register" method="post">
    <div class="wrapper">
        <input type="text" class="logbox" id="username-field" name="username" placeholder="Username..."/>
    </div>
    <div class="wrapper">
        <input type="password" class="logbox" id="password-field" name="password" placeholder="Password..."/>
    </div>
    <div class="wrapper">
        <button  type="submit">Register</button>
    </div>
</form>